
.btn-primary {
    color: white;
    background-color: #E55473;
    font-size: 25px;
    border-radius: 10px;
    padding: 20px 42px;
    border: none;
}

h1 {
    line-height: 30px;
    font-size: 65px;
}

.colored {
    color: #E55473;
}

header {
    background-color: E55473;
    width: 1920px 850px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-description {
    width: 710px;
    height: 510px;
    padding: 150px;
}

.banner-info {
    margin: 60px 0;
    line-height: 35px;
}

.banner-img {
    margin-right: 80px;
    width: 550px;
}

/* service section */

.service {
    margin: 9rem 0;
}

.service-container {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    width: 900px;
    margin: 0 auto;
    background-color: #edf7f7;
    padding: 6rem 10rem;
    border-radius: 1rem;
}

.service-point {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.7rem;
    background-color: #ecf5f5;
}





/* sell section */
.sell {
    background-color:#f1ebec;
    height: 620px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5rem;
}

.sell-description {
    margin-left: 100px;
    text-align: center;
}

.sell-title {
    font-size: 55px;
    margin-bottom: 0;
}

.sell-img {
    margin-right: 100px;
}

/* instagram section */
.instagram {
    background-color: #f2f4f7;
    margin: 8rem auto;
    height: auto;
    max-width: 1140px;
    padding: 1rem;
    border-radius: 1rem;

}

.instagram-top > h3 {
    font-size: 45px;
    text-align: center;
}

.instagram-top > p {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.instagram-picture {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}

.insta-img {
    width: 250px;
}